#python==3.6
tensorflow==1.15.4
altair
scrapbook
bottleneck==1.2.1
dask>=0.17.1
fastparquet>=0.1.6
lightfm==1.15
matplotlib>=2.2.2
mock==2.0.0
nltk>=3.4
numpy<1.19.0,>=1.16.0
pandas>1.0.3,<=1.2.2
seaborn>=0.8.1
scikit-learn>=0.19.1
scipy>=1.0.0
scikit-surprise>=1.0.6
lightgbm==2.2.1
cornac>=1.11.0
papermill>=2.2.0
tqdm>=4.31.1
azureml-sdk[notebooks,tensorboard]==1.0.69
